/* #footer {
    position: fixed;
    text-align: center;
    bottom: 0;
} */

:root {
    --pico-font-size: 90%;
    --pico-font-family-sans-serif: "Raleway", sans-serif;
}

[role="group"] button {
    white-space: nowrap;
}

#dockerfiles label:hover {
    cursor: pointer;
    text-decoration: underline;
}

/*
[data-theme="light"] body {
    --custom-light-body-background: #f3f3f3;
    background-color: var(--custom-light-body-background);
}

/* body {
    font-size: var(--pico-font-size);
    background-color: var(--custom-light-body-background);
} */
